.hidden {
    display: none;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
}

h1, p {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.icon-box {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    gap: 20px;
}

.body-image {
    display: block;
    max-width: 100%;
}

#zen-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
  }
  
  #zen-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.target-zone {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(200, 200, 200, .2);
    border: 2px dashed rgba(80, 206, 22, .6);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.icon 

#water{
    top: 40%;
    left: 50%;
}

#lungs {
    top: 36%;
    left: 33%;
    height: 80px;
}

#liver {
    top: 55%;
    left: 35%;
}

#stomach {
    top: 55%;
    left: 50%;
}

#intestines {
    top: 74%;
    left: 37%;
}

.icon-box {
    position: absolute;
    top: 10%;
    right: 2%; /* Move it to the right side */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 12px;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    z-index: 10;
  }

.labels-header {
    margin-bottom: 15px;
    color: #333;
    font-size: 18px;
}

.icon img {
    background-color: #ffffff;
    color: #fff;
    padding: 10px;
    margin: 8px 0;
    cursor: grab;
    transition: all .2s ease-in-out;
    text-align: center;
    width: 25px;
    height: 25px;
}

.label:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

.reset-btn {
    display: block;
    margin: 30px auto;
    background-color: #e74c3c;
    border: none;
    padding: 15px 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color .2s ease-in-out;
}

.reset-btn:hover {
    background-color: #c0392b;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}